*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@font-face {
    font-family: Rubik;
    font-size: 24px;
    src: url(Rubik-Bold.ttf);
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
  }

#wrapper{
    height: 100vh;
    
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}
.container1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}
.background{
    transform: translateZ(-40px) scale(6);
}
.foreground{
    transform: translateZ(-20px) scale(3);
}

.heading{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 10vw;
    position: absolute;
    text-shadow: 0 0 10px rgb(0 0 0 / 30%);
    transform: translateY(-240px);
}

section{
    background-color: rgb(45,45,45);
    color: white;
    padding: 5rem 0;
}

.secHeading{
    font-size: 5rem;
    padding: 0 10rem;
}

.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg1{
    background-image: url(sport-1.jpg);
}

.bg2{
    background-image: url(sport-2.jpg);
}
.bg3{
    background-image: url(sport-3.jpg);
}

.desc{
    font-size: 3.5rem;
    position: absolute;
    background-color: white;
    color: black;
    box-sizing: border-box;
    padding: 1.5rem;
    
}

.text{
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 160px;
    padding-right: 160px;
}